@font-face {
    font-family: Scoreboard;
    src: url(fonts/scoreboard.ttf);
}

.current-day {
  background-color: lightgray;
  font-weight: bold;
}

.caption {
    text-align: center;
    font-family: Scoreboard;
    margin-bottom: 0;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    /*-webkit-transition: height 0.5s ease;*/
    /*transition: height 0.5s ease;*/
    -webkit-transition: height 0.5s ease, min-height 0.5s ease;
    transition: height 0.5s ease, min-height 0.5s ease;
    overflow: hidden;
    font-size: 28pt;
    color: black;
}

.closed {
    background-color: rgba(223, 86, 71, 0.8);
}

.closing-soon {
    background-color: rgba(233, 185, 89, 0.8);
}

.open {
    background-color: rgba(108, 162, 103, 0.8);
}

.closed::before {
    content: "CLOSED";
}

.open:before {
    content: "OPEN";
}

.closing-soon:before {
    content: "CLOSING SOON";
}

@import "compass/css3";

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  width: 400px;
  height: 550px;
  margin-top: 10px;
  color: black;
}

.card-image {
  width: 100%;
  height: 35%;
  overflow: hidden;
  position: relative;
  border-radius: 0px;
}

.card-info {
  padding: 10px;
  height: auto;
}

.card-status {
  width: 100%;
  height: 10%;
  text-align: center;
  font-family: Scoreboard;
  margin-bottom: 0;
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  /*-webkit-transition: height 0.5s ease;*/
  /*transition: height 0.5s ease;*/
  -webkit-transition: height 0.5s ease, min-height 0.5s ease;
  transition: height 0.5s ease, min-height 0.5s ease;
  overflow: hidden;
  font-size: 28pt;
  line-height: 5vh;
  color: black;
}

.profile-button {
  width: 100%;
  height: auto;
  text-align:center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.card-title, .card-subtitle {
  text-align: center;
}

.busy {
    background-color: rgba(223, 86, 71, 0.8);
}

.somewhat-busy {
    background-color: rgba(233, 185, 89, 0.8);
}

.not-busy {
    background-color: rgba(108, 162, 103, 0.8);
}

.busy::before {
    content: "BUSY";
}

.not-busy:before {
    content: "NOT BUSY";
}

.somewhat-busy:before {
    content: "SOMEWHAT BUSY";
}
