@font-face {
    font-family: Lato;
    src: url(fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: LatoThin;
    src: url(fonts/Lato-Thin.ttf);
}

@font-face {
    font-family: Scoreboard;
    src: url(fonts/scoreboard.ttf);
}

.caption {
    text-align: center;
    font-family: Scoreboard;
    margin-bottom: 0;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    /*-webkit-transition: height 0.5s ease;*/
    /*transition: height 0.5s ease;*/
    -webkit-transition: height 0.5s ease, min-height 0.5s ease;
    transition: height 0.5s ease, min-height 0.5s ease;
    overflow: hidden;
    font-size: 28pt;
    color: black;
}

.closed {
    color: rgba(223, 86, 71, 0.8);
}

.closing-soon {
    color: rgba(233, 185, 89, 0.8);
}

.open {
    color: rgba(108, 162, 103, 0.8);
}

.closed::before {
    content: "CLOSED";
}

.open:before {
    content: "OPEN";
}

.closing-soon:before {
    content: "CLOSING SOON";
}
